h1 {
    font-size: 48px;
    text-align: center;
    margin: 0;
    padding: 48px;
}

.TodoCounter-bold {
    font-weight: bold;
}

@media (max-width: 640px) {
    h1 {
        font-size: 22px;
        padding: 24px 16px;
    }
}
